body{
  background-color:#222;
  font-family: helvetica, sans-serif;
}

h2{
color:white;
clear: both;
}

h4{
color:white;
float: none;
}

div{
    width: 175px;
    height: 260px;
    background-color: #FFF;
    border-radius: 5px;
    margin: 10px;
    float: left;
}

.Koyaanisqatsi{
  clear: both;
}

.ArtCopy{
clear: both;
}



.negre{
  background-color:#222;
  height: 40px;

}
